.freinds-screen__channel-header {
  border-top: var(--main-border);
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  opacity: 70%;
}

.freinds-screen__channel {
  margin-top: 20px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes splashAnimation {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

#splash-screen {
  background-color: var(--bg-color);
  position: absolute;
  top: 0px;
  height: 120vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
  z-index: 90;
}

#splash-screen .welcome-header__icon {
  margin-top: -120px;
  transform: translateY(40px);
  opacity: 0;
  animation: splashAnimation 1s ease-in-out forwards;
}

#splash-screen .welcome-header__icon:nth-child(2) {
  animation-delay: 0.1s;
}
#splash-screen .welcome-header__icon:nth-child(3) {
  animation-delay: 0.2s;
}
#splash-screen .welcome-header__icon:last-child {
  animation-delay: 0.3s;
}
